@model API.Models.Lancamento

@{
    ViewData["Title"] = "Incluir";
}

<h1>Lançamento</h1>

<hr />
<br />

<div class="d-flex justify-content-center">
    <form asp-action="Create" autocomplete="off">
        <div class="card border-secondary">
            <div class="card-header text-white text-center bg-warning" style="font-weight: bolder">Incluir</div>
            <div class="card-body text-secondary row d-flex justify-content-around">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div>
                            <label asp-for="DtPrevisao" class="control-label"></label>
                            <label style="color:brown"> *</label>
                        </div>
                        <input asp-for="DtPrevisao" class="form-control" />
                        <span asp-validation-for="DtPrevisao" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <div>
                            <label asp-for="Valor" class="control-label"></label>
                            <label style="color:brown"> *</label>
                        </div>
                        <input asp-for="Valor" class="form-control" />
                        <span asp-validation-for="Valor" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="ObsLancamento" class="control-label"></label>
                        <input asp-for="ObsLancamento" class="form-control" />
                        <span asp-validation-for="ObsLancamento" class="text-danger"></span>
                    </div>
                    <br />
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div>
                            <label asp-for="ContaId" class="control-label"></label>
                            <label style="color:brown"> *</label>
                        </div>
                        <select asp-for="ContaId" class ="form-control" asp-items="ViewBag.ContaId"><option></option></select>
                    </div>
                    <br />
                    <div class="form-group">
                        <div>
                            <label asp-for="JogadorId" class="control-label"></label>
                            <label style="color:brown"> *</label>
                        </div>
                        <select asp-for="JogadorId" class ="form-control" asp-items="ViewBag.JogadorId"><option></option></select>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="DtBaixa" class="control-label"></label>
                        <input asp-for="DtBaixa" class="form-control" />
                        <span asp-validation-for="DtBaixa" class="text-danger"></span>
                    </div>
                    <br />
                </div>
                @*<div class="form-group">
                    <label asp-for="Inativo" class="control-label"></label>
                    <input asp-for="Inativo" class="form-control" />
                    <span asp-validation-for="Inativo" class="text-danger"></span>
                </div>*@
                <br />
                <div class="form-group">
                    @*<input type="submit" value="Create" class="btn btn-primary" />*@
                    <button type="submit" class="btn btn-secondary">
                        <i class="fa fa-floppy-o"> Salvar</i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<br />
<hr />
<br />

<div>
    <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
