@model API.Models.Scout

@{
    ViewData["Title"] = "Tabela";
}

<h1>Tabela</h1>

<hr />
<br />

<div class="d-flex justify-content-center">
    <form asp-action="Tabela" autocomplete="off">
        <div class="card col-md-4">
            <div class="card-header">Detalhes</div>
            <div class="card-body row">
                <div class="form-group">
                    @*<label asp-for="DtPartida" class="control-label"></label>*@
                    <input asp-for="DtPartida" class="form-control" />
                    <span asp-validation-for="DtPartida" class="text-danger"></span>
                </div>
                <br />
                <br />
                <hr />
                <div class="form-group">
                    @*<label asp-for="ObsScout" class="control-label"></label>*@
                    <input asp-for="ObsScout" class="form-control" placeholder="Observação"/>
                </div>
            </div>
        </div>

        <br />

        <div class="card border-secondary">
            <div class="card-header">Tabela</div>
            <div class="card-body text-secondary row d-flex justify-content-around">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <br />


                    <div class="d-flex justify-content-around">
                        <label>Time A</label>
                        <label>X</label>
                        <label>Time B</label>
                    </div>
                    <br />
                    <div class="col-md">
                        <div class="d-flex justify-content-around">
                            <div class="col-md-6">
                                @*<label asp-for="JogadorIdA1" class="control-label"></label>*@
                                <select asp-for="JogadorIdA1" name="jogA1" class ="form-control" asp-items="ViewBag.JogadorIdA1">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input asp-for="GolsA1" name="golA1" class="form-control" onchange="SomarGolsA" />
                                <span asp-validation-for="GolsA1" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-6">
                                <select asp-for="JogadorIdA2" name="jogA2" class ="form-control" asp-items="ViewBag.JogadorIdA2">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input asp-for="GolsA2" name="golA2" class="form-control" onchange="SomarGolsA" />
                                <span asp-validation-for="GolsA2" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-6">
                                <select asp-for="JogadorIdA3" name="jogA3" class ="form-control" asp-items="ViewBag.JogadorIdA3">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input asp-for="GolsA3" name="golA3" class="form-control" onchange="SomarGolsA" />
                                <span asp-validation-for="GolsA3" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-6">
                                <select asp-for="JogadorIdA4" name="jogA4" class ="form-control" asp-items="ViewBag.JogadorIdA4">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input asp-for="GolsA4" name="golA4" class="form-control" onchange="SomarGolsA" />
                                <span asp-validation-for="GolsA4" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-6">
                                <select asp-for="JogadorIdA5" name="jogA5" class ="form-control" asp-items="ViewBag.JogadorIdA5">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input asp-for="GolsA5" name="golA5" class="form-control" onchange="SomarGolsA" />
                                <span asp-validation-for="GolsA5" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-6">
                                <select asp-for="JogadorIdA6" name="jogA6" class ="form-control" asp-items="ViewBag.JogadorIdA6">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input asp-for="GolsA6" name="golA6" class="form-control" onchange="SomarGolsA" />
                                <span asp-validation-for="GolsA6" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-6">
                                <select asp-for="JogadorIdA7" name="jogA7" class ="form-control" asp-items="ViewBag.JogadorIdA7">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input asp-for="GolsA7" name="golA7" class="form-control" onchange="SomarGolsA" />
                                <span asp-validation-for="GolsA7" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-6">
                                <select asp-for="JogadorIdA8" name="jogA8" class ="form-control" asp-items="ViewBag.JogadorIdA8">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input asp-for="GolsA8" name="golA8" class="form-control" onchange="SomarGolsA" />
                                <span asp-validation-for="GolsA8" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-6">
                                <select asp-for="JogadorIdA9" name="jogA9" class ="form-control" asp-items="ViewBag.JogadorIdA9">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input asp-for="GolsA9" name="golA9" class="form-control" onchange="SomarGolsA" />
                                <span asp-validation-for="GolsA9" class="text-danger"></span>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-6">
                                <select asp-for="JogadorIdA10" name="jogA10" class ="form-control" asp-items="ViewBag.JogadorIdA10">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input asp-for="GolsA10" name="golA10" class="form-control" onchange="SomarGolsA" />
                                <span asp-validation-for="GolsA10" class="text-danger"></span>
                            </div>
                        </div>
                        <br />

                        <div class="d-flex justify-content-around">
                            <div class="col-md-6">
                                <label hidden>Gols Time A</label>
                            </div>
                            <div class="col-md-2">
                                <input type="number" name="somaGolsA" disabled class="form-control" />
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="Presente" class="control-label"></label>
                            <input asp-for="Presente" class="form-control" />
                            <span asp-validation-for="Presente" class="text-danger"></span>
                        </div>*@
                    </div>

                    <br />

                    <div class="col-md">
                        <div class="d-flex justify-content-around">
                            <div class="col-md-2">
                                <input asp-for="GolsB1" name="golB1" class="form-control" onchange="SomarGolsB" />
                                <span asp-validation-for="GolsB1" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                @*<label>Time B</label>*@
                                @*<label asp-for="JogadorIdB1" class="control-label"></label>*@
                                <select asp-for="JogadorIdB1" name="jogB1" class ="form-control" asp-items="ViewBag.JogadorIdB1">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-2">
                                <input asp-for="GolsB2" name="golB2" class="form-control" onchange="SomarGolsB" />
                                <span asp-validation-for="GolsB2" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="JogadorIdB2" name="jogB2" class ="form-control" asp-items="ViewBag.JogadorIdB2">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-2">
                                <input asp-for="GolsB3" name="golB3" class="form-control" onchange="SomarGolsB" />
                                <span asp-validation-for="GolsB3" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="JogadorIdB3" name="jogB3" class ="form-control" asp-items="ViewBag.JogadorIdB3">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-2">
                                <input asp-for="GolsB4" name="golB4" class="form-control" onchange="SomarGolsB" />
                                <span asp-validation-for="GolsB4" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="JogadorIdB4" name="jogB4" class ="form-control" asp-items="ViewBag.JogadorIdB4">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-2">
                                <input asp-for="GolsB5" name="golB5" class="form-control" onchange="SomarGolsB" />
                                <span asp-validation-for="GolsB5" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="JogadorIdB5" name="jogB5" class ="form-control" asp-items="ViewBag.JogadorIdB5">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-2">
                                <input asp-for="GolsB6" name="golB6" class="form-control" onchange="SomarGolsB" />
                                <span asp-validation-for="GolsB6" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="JogadorIdB6" name="jogB6" class ="form-control" asp-items="ViewBag.JogadorIdB6">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-2">
                                <input asp-for="GolsB7" name="golB7" class="form-control" onchange="SomarGolsB" />
                                <span asp-validation-for="GolsB7" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="JogadorIdB7" name="jogB7" class ="form-control" asp-items="ViewBag.JogadorIdB7">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-2">
                                <input asp-for="GolsB8" name="golB8" class="form-control" onchange="SomarGolsB" />
                                <span asp-validation-for="GolsB8" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="JogadorIdB8" name="jogB8" class ="form-control" asp-items="ViewBag.JogadorIdB8">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-2">
                                <input asp-for="GolsB9" name="golB9" class="form-control" onchange="SomarGolsB" />
                                <span asp-validation-for="GolsB9" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="JogadorIdB9" name="jogB9" class ="form-control" asp-items="ViewBag.JogadorIdB9">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="col-md-2">
                                <input asp-for="GolsB10" name="golB10" class="form-control" onchange="SomarGolsB" />
                                <span asp-validation-for="GolsB10" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <select asp-for="JogadorIdB10" name="jogB10" class ="form-control" asp-items="ViewBag.JogadorIdB10">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <br />

                        <div class="d-flex justify-content-around">
                            <div class="col-md-2">
                                <input type="number" name="somaGolsB" disabled readonly class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <label hidden>Gols Time B</label>
                            </div>
                        </div>
                    </div>

                <br />
                <div class="form-group">
                    @*<input type="submit" value="Create" class="btn btn-primary" />*@
                    <button type="submit" class="btn btn-secondary">
                        <i class="fa fa-floppy-o"> Salvar</i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<br />
<hr />
<br />

<div>
    <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}