@model API.Models.Parametro

@{
    ViewData["Title"] = "Incluir";
}

<h1>Parâmetro</h1>

<hr />
<br />

<div class="d-flex justify-content-center">
    <div class="card border-secondary row">
        <div class="card-header">Incluir</div>
        <div class="card-body text-secondary">
            <form asp-action="Create" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div>
                        <label asp-for="DescParametro" class="control-label"></label>
                        <label style="color:brown"> *</label>
                    </div>
                    <input asp-for="DescParametro" class="form-control" />
                    <span asp-validation-for="DescParametro" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <div>
                        <label asp-for="CodParametro" class="control-label"></label>
                        <label style="color:brown"> *</label>
                        @if (TempData["MsgRegDup"] != null){<label style="color:brown"><strong>@TempData["MsgRegDup"]</strong></label>}
                    </div>
                    <input asp-for="CodParametro" class="form-control" />
                    <span asp-validation-for="CodParametro" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <div>
                        <label asp-for="Ponto" class="control-label"></label>
                        <label style="color:brown"> *</label>
                    </div>
                    <input asp-for="Ponto" class="form-control" />
                    <span asp-validation-for="Ponto" class="text-danger"></span>
                </div>
                <br />
                @*<div class="form-group">
                    <label asp-for="Inativo" class="control-label"></label>
                    <input asp-for="Inativo" class="form-control" />
                    <span asp-validation-for="Inativo" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    @*<input type="submit" value="Create" class="btn btn-primary" />*@
                    <button type="submit" class="btn btn-secondary" onclick="RegDup">
                        <i class="fa fa-floppy-o"> Salvar</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<br />
<hr />

<div>
    <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Voltar</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
